nav.navbar.navbar-inverse.navbar-fixed-top
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#mainnavbar')
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='./') SEEK 2017
  #mainnavbar.collapse.navbar-collapse
    ul.nav.navbar-nav
      li#navindex
        a(href='./') Home
      li.navbar-index.nav-subpage.hidden
        a(href='#whatisseek') What is SEEK?
      li.navbar-index.nav-subpage.hidden
        a(href='#info') Info
      li.navbar-index.nav-subpage.hidden
        a(href='#sponsors') Sponsors
      li.navbar-index.nav-subpage.hidden
        a(href='#faqs') FAQs

      li#navregister
        a(href='register.html') Register

      li#navpastyears
        a(href='past-years.html') Past years
      li.navbar-pastyears.nav-subpage.hidden
        a(href='#seek2016') 2016
      li.navbar-pastyears.nav-subpage.hidden
        a(href='#seek2015') 2015
      li#contactus
        a(href='contact.html') Contact