nav.navbar.sticky-top.navbar-expand-md
  .navbar-header
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#mainnavbar')
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='./') SEEK 2017
  #mainnavbar.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item#navindex
        a.nav-link(href='./') Home

      li.nav-item#navregister
        a.nav-link(href='register.html') Register
      li.nav-item#navpastyears
        a.nav-link(href='past-years.html') Past years
      li.nav-item#contactus
        a.nav-link(href='contact.html') Contact
      li.nav-item#quick-links
        a.nav-link(href='quicklinks.html') Quick Links