nav.navbar.sticky-top.navbar-expand-md
  .navbar-header
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#mainnavbar')
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='./') SEEK 2017
  #mainnavbar.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item#navindex
        a.nav-link(href='./') Home
      //- li.navbar-index.nav-subpage.hidden
      //-   a(href='#whatisseek') What is SEEK?
      //- li.navbar-index.nav-subpage.hidden
      //-   a(href='#info') Info
      //- li.navbar-index.nav-subpage.hidden
      //-   a(href='#sponsors') Sponsors
      //- li.navbar-index.nav-subpage.hidden
      //-   a(href='#faqs') FAQs

      li.nav-item#navregister
        a.nav-link(href='register.html') Register

      li.nav-item#navpastyears
        a.nav-link(href='past-years.html') Past years
      //- li.navbar-pastyears.nav-subpage.hidden
      //-   a(href='#seek2016') 2016
      //- li.navbar-pastyears.nav-subpage.hidden
      //-   a(href='#seek2015') 2015
      li.nav-item#contactus
        a.nav-link(href='contact.html') Contact