doctype html
html(lang='en')
  // Include jQuery
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script.
    window.jQuery || document.write('<script src="./assets/js/jquery.min.js"><\\/script>')
  script.
    $(function() {
    $('#header').load('header.html');
    $('#navbar').load('navbar.html');
    $('#footer').load('footer.html');
    });

    $('a').attr()
    $('a[href^=about]')
  title  About SEEK | SEEK 2017 
  body
    #header  
    #navbar  
    #main.container
      h2  About us 
      .row
        .col-md(<='', div='')
  #footer  
