doctype html

title Contact Us

include partials/header.html
include partials/navbar.html
script(src='scripts/xor.js')

div
  h1.jumbotron &nbsp;
  h1.jumbotron-head.container Contact Us&nbsp;

.container.section-anchor#contact
  h1.text-center.well
    span.glyphicon.glyphicon-send
    | &nbsp;Get in Touch!
  .container
    row
      .col-sm-6.text-center
        h3 General Questions
        script.
          chris=[16, 1, 75, 8, 27, 16, 37, 6, 18, 12, 9, 69, 6, 17, 10, 25, 28, 11, 17, 4, 93, 6, 4]
          document.write('<a href="mailto:' + xor("seek", chris) + '?subject=[SEEK]:  "> ' + xor("seek", chris) + '</a>')
      .col-sm-6.text-center
        h3 Sponsorship Information
        script.
          gabe=[18, 23, 21, 2, 29, 10, 75, 12, 18, 7, 23, 2, 22, 9, 37, 12, 30, 4, 12, 7, 93, 6, 10, 6]
          document.write('<a href="mailto:' + xor("seek", gabe) + '?subject=[SEEK]:  "> ' + xor("seek", gabe) + '</a>')

include partials/footer.html