title  SEEK 2017 | Space Exploration and Engineering Kompetition

include partials/header.html
include partials/navbar.html
script(src='scripts/xor.js')

#topcarousel.carousel.slide(data-ride="carousel")
  .overlay
    h1 Space Exploration &amp; Engineering Kompetition
  ol.carousel-indicators
    li.active(data-target='#topcarousel', data-slide-to='0')
    li(data-target='#topcarousel', data-slide-to='1')
    li(data-target='#topcarousel', data-slide-to='2')

  .carousel-inner(role='listbox')
    .carousel-item.active
      img(src='./assets/images/arena.jpg')
    .carousel-item
      img(src='./assets/images/robot_display.jpg')
    .carousel-item
      img(src='./assets/images/robots_are_cute.jpg')

  a.carousel-control-prev(href='#topcarousel', role='button', data-slide='prev')
    span.carousel-control-prev-icon(aria-hidden='true')
    span.sr-only Previous
  a.carousel-control-next(href='#topcarousel', role='button', data-slide='next')
    span.carousel-control-next-icon(aria-hidden='true')
    span.sr-only Next

.container#whatisseek
  h1.primary
        | &nbsp;What is SEEK?

  p.text-left
    | SEEK is an annual competition hosted by Robotics for Space Exploration (RSX). Competitors are given a task,
    | some robotic components to design and build a robot that can complete a series of challenges. SEEK was first held
    | in 2015 as a way of getting more people interested and active in robotics. We'd have to say we've been pretty successful!


  iframe(width=640, height=360, src="https://www.youtube.com/embed/0-UED13FOFk", allowfullscreen)

.container#info
  h1.primary
    | &nbsp;Info
  .row
    .col-sm-4
      h3.secondary.text-center Learn ...
      p.info-text
        | SEEK is designed to provide an introduction to people new to robotics, while still being a challenge to
        | those with more experience. We also run tutorials prior to the event, to which anyone is welcome!
      p
        a(href='https://drive.google.com/drive/u/0/folders/0B16QfDEQuaGrWUNoWkFwZXdnenc') Tutorials &raquo;
    .col-sm-4
      h3.secondary.text-center Build ...
      p.info-text
        | Our goal is to make a self-contained event, so we will give you all of the materials you need.
        | Best of all, you keep all of your parts afterwards for your future robotic projects!
      p
        a(href='materials.html') List of parts &raquo;

    .col-sm-4
      h3.secondary.text-center Compete!
      p.info-text
        | After several hours, you'll participate in a tournament, where you test your robot head-to-head with
        | your competitors' and compete for awesome prizes. Good luck!
      p
        a(href='schedule.html') Schedule &raquo;


.container#sponsors
  h1.primary
    | &nbsp;Sponsors
  .row
    a(href='http://www.archersarena.com').col-md-4.text-right
      img#logo(src='http://static1.squarespace.com/static/55334389e4b0fcb142f0f867/t/572ba95f356fb09fb11dcf27/1465373273754/?format=1500w')
    .col-md-8
      p <strong> Archer's Arena </strong> was founded by U of T alumni, and kindly donated tickets, some of the prizes for SEEK 2016!

  .row
    a(href='https://www.facebook.com/TorontoPopcornCompany/').col-md-4.text-right
    .col-md-8
      p <strong> Toronto Popcorn Company </strong> generously donated amazing popcorn for SEEK 2016!

  .row
    a(href='http://rsx-utoronto.com').col-md-4.text-right
        img#logo(src='https://pbs.twimg.com/profile_images/412622449784532992/fLLGNXb-.png')
    .col-md-8
      p
        | <strong> RSX (Robotics for Space Exploration) </strong>  was founded in 2013 to represent the University of Toronto
        | at the University Rover Challenge. Since then, we've added a couple more projects: Cansat, which develops
        | a rocket payload, and a High Altitude Balloon, that takes sensor readings of the atmosphere. As a
        | relatively new club, we pride ourselves on our openness to new members regardless of skill or experience.
        | If you're interested robotics and space, feel free to join us!


.container#faqs
  h1.primary
    | &nbsp;FAQs
  .row
    .col-sm-6
      h3.secondary What should I bring?
      p Bring a laptop, a charger and a smartphone, we'll provide the rest: snacks, lunch and components
    .col-sm-6
      h3.secondary Can I use materials I bring?
      p You may bring tools, but not materials. Anything extra cannot be used on the robot

.container#contact
  h1.primary
    | &nbsp;Questions?
  .row
    .text-center
      p For any questions about registration, logistics or sponsorship, feel free to reach out to Rex at:
        script.
          rex=[1, 0, 29, 69, 30, 4, 37, 6, 18, 12, 9, 69, 6, 17, 10, 25, 28, 11, 17, 4, 93, 6, 4]
          document.write('<a href="mailto:' + xor("seek", rex) + '?subject=[SEEK]:  "> ' + xor("seek", rex) + '</a>')

include partials/footer.html
script.
  $('#navindex').addClass('active')
  $('.navbar-index').removeClass('hidden')