/* General */
img.body-image {
	width: 100%;
}

p {
	font-size: 20px;
	padding: 20px;
}

h1.primary {
	background-color: #f97a05;
	padding: 10px 15px;
	border-radius: 5px;
}

h1.primary .glyphicon {
	top: 4px;
}

h3.secondary {
	background-color: #fdbf01;
	padding: 5px 10px;
	border-radius: 5px;
}

/* Carousel */
#topcarousel {
	padding-top: 40px;
	background-color: black;
	max-height: 100%;
	overflow: hidden;
}

.overlay {
	position: absolute;
	top: 50%;
	z-index: 14;
	color: white;
  	text-shadow: 0 1px 2px rgba(1, 1, 1, .6);
  	left: 15%;
  	right: 15%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.overlay > h1 {
	font-size: 8vw;
}
@media (min-width: 768px) {
	.overlay > h1 {
		font-size: 7vw;
	}
}
@media (min-width: 992px) {
	.overlay > h1 {
		font-size: 7vw;
	}
}
@media (min-width: 1200px) {
	.overlay > h1 {
		font-size: 8vw;
	}
}

.carousel-inner {
	opacity: 0.5;
}

.btn-primary {
	background-color: #fdbf01;
	border: 0 solid;
}

.btn-primary:hover {
	background-color: #fdbf01;
	color: black;
}

/* ==Index page== */
img#logo {
	width: 25%;
}

iframe {
	display: block;
	margin: auto;
}

/* Info */
#whatisseek, #info, #sponsors, #faqs, #contact, #register, #schedule {
	margin: 20px auto;
	padding-top: 20px;
	background-color: cornsilk;
}

#register .row p {
	padding: 10px 0;
}

.row .col-sm-4 {
	display: flex;
	flex-direction: column;
}

.row .col-sm-4 .info-text {
	flex-grow: 1;
	padding-bottom: 0;
	margin-bottom: 0;
}

/* == Materials Page == */
.jumbotron {
	background-image: url('./assets/images/materials.jpg');
	background-size: cover;
	opacity: 0.5;
	background-color: black;
}

.jumbotron-head {
	top: 50px;
	bottom: 0;
	position: absolute;
	color: white;
  	text-shadow: 0 1px 2px rgba(1, 1, 1, .6);
}

/* == Navbar == */

.navbar {
	background-color: #b53b03;
}

.navbar-brand, .nav-link {
	color: white;
}

.navbar-brand:hover, .nav-link:hover {
	color: black;
}