doctype html 

// Include jQuery
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script.
  window.jQuery || document.write('<script src="./assets/js/jquery.min.js"><\\/script>')
script.
  $(function() {
  console.log("loading header and stuff  ")
  $('#header').load('header.html');
  $('#navbar').load('navbar.html');
  $('#footer').load('footer.html');
  });

title Material List

#header
#navbar

div
  h1.jumbotron &nbsp;
  h1.jumbotron-head.container Materials
  
br 

.container#materials 
  h1.text-center.well
    span.glyphicon.glyphicon-cog
    | &nbsp;Materials 
    .small (stuff you get to keep!)
  ul.list-group
    li.list-group-item.col-md-4 Arduino Uno and cable
    li.list-group-item.col-md-4 Two servo motors
    li.list-group-item.col-md-4 Two DC motors
    li.list-group-item.col-md-4 Coming soon... 
br
h1.text-center
  span.glyphicon.glyphicon-chevron-left
  span.glyphicon.glyphicon-chevron-right
br 
br

.container#tools
  h1.text-center.well
    span.glyphicon.glyphicon-wrench
    | &nbsp;Tools 
    .small (stuff you can borrow)
  ul.list-group
    li.list-group-item.col-md-4 Voltmeter
    li.list-group-item.col-md-4 Soldering station
    li.list-group-item.col-md-4 Coming soon... 
br
h1.text-center
  span.glyphicon.glyphicon-stop
br 
br

#footer