doctype html 

// Include jQuery
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script.
  window.jQuery || document.write('<script src="./assets/js/jquery.min.js"><\\/script>')
script.
  $(function() {
  $('#header').load('header.html');
  $('#navbar').load('navbar.html');
  $('#footer').load('footer.html');
  });

title Past Years

#header
#navbar

div
  h1.jumbotron &nbsp;
  h1.jumbotron-head.container Past Years

.container#seek2016
  h1.text-center.well
    span.glyphicon.glyphicon-knight
    | &nbsp;SEEK 2016
  .row
    .col-sm-6.text-right
      img.body-image(src='./assets/images/seek_winners_2016.jpg')
    .col-sm-6
      p
      | For SEEK 2016, we ramped up the difficulty by introducing three sub-tasks
      | to stop the Martian invasion. Our winners, "Wow I Thought", beat out the 
      | runners up, Waterloo Something, our own invaders from UWaterloo. Thank you
      | to all of the sponsors, participants and volunteers! 
br
h1.text-center
  span.glyphicon.glyphicon-asterisk
br 
br

.container#seek2016
  h1.text-center.well
    span.glyphicon.glyphicon-pawn
    | &nbsp;SEEK 2015
  .row
    .col-sm-6.text-right
      p
      | The winner of the inaugural SEEK was Cheesecake Squad! They defeated
      | fifteen other robots in head-to-head matches, collecting the most blocks of 
      | U-243. The runners up were GM and FAD respectively. Congratulations to the 
      | winners, and thank you to all the participants. 
    .col-sm-6 
      img.body-image(src='./assets/images/seek_winners_2015.jpg')

br
h1.text-center
  span.glyphicon.glyphicon-stop
br 
br

#footer