doctype html

title Quick Links

include ./partials/header.html
include ./partials/navbar.html

div
  h1.jumbotron

.container#register
  h1.primary Arduino Tutorials

  .row
    .col-sm-12.pb-2
      p Arduino Training Session
      a.btn.btn-primary.mx-3(href="https://docs.google.com/presentation/d/1rGSN6Jle1EF2bQ1zg_n_mCiTbsovvBMz9KYvCzMkDTE") Tutorial Slides
      a.btn.btn-primary.mx-3(href="https://www.arduino.cc/en/Main/Software") Arduino IDE Download
      a.btn.btn-primary.mx-3(href="assets/osx_drivers.zip") Arduino Drivers for OSX
      // from www.wch.cn/download/CH341SER_MAC_ZIP.html
      a.btn.btn-primary.mx-3(href="https://decyborg.wordpress.com/2013/09/08/bluetooth-serial-communication-with-arduino-jy-mcu-bluetooth-and-macbook-pro/") Bluetooth app for OSX
include ./partials/footer.html
script.
  $('#quicklinks').addClass('active')
