doctype html

// Include jQuery
title Register

include ./partials/header.html
include ./partials/navbar.html

div
  h1.jumbotron

.container#register
  h1.primary Register

  .row
    .col-sm-4
      p.info-text Registration for SEEK is open!
      p
        a.btn.btn-primary(href="https://docs.google.com/forms/d/1dOvr2bTVxkSaiQsrpCE5zrCeeN_pTTO_LNoXQOLxYLE/edit?usp=drive_web") Register here

    .col-sm-4
      p.info-text Registration for SEEK Training sessions is open!
      p
        a.btn.btn-primary(href="https://docs.google.com/forms/d/1dOvr2bTVxkSaiQsrpCE5zrCeeN_pTTO_LNoXQOLxYLE/edit?usp=drive_web") Register here

    .col-sm-4
      p Registration for SEEK Jr. is not open; send us an email if you'd like to keep in touch!

include ./partials/footer.html
script.
  $('#navregister').addClass('active')