doctype html 

// Include jQuery
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script.
  window.jQuery || document.write('<script src="./assets/js/jquery.min.js"><\\/script>')
script.
  $(function() {
  $('#header').load('header.html');
  $('#navbar').load('navbar.html', '', function() { 
    $('.nav li#navregister').addClass('active') 
  });
  $('#footer').load('footer.html');
  });

title Register
// changem e

#header
#navbar

div
  h1.jumbotron &nbsp;
  h1.jumbotron-head.container Register

.container#id
  h1.text-center.well
    span.glyphicon.glyphicon-edit
    | &nbsp;Registration 
  h3 Registration isn't open yet, but join our mailing list for updates!
br
h1.text-center
  span.glyphicon.glyphicon-chevron-left
  span.glyphicon.glyphicon-chevron-right
br 
br

.container.text-center
  iframe(src='https://docs.google.com/forms/d/1pAnyqFfRYyzECg_6py3JoPwTiPM6Dh8biyEdxLW5Dpw/viewform?embedded=true', width='760', height='500', frameborder='0', marginheight='0', marginwidth='0') Loading...
br
h1.text-center
  span.glyphicon.glyphicon-stop
br 
br

#footer