title Schedule

include partials/header.html
include partials/navbar.html

div
  h1.jumbotron &nbsp;
  h1.jumbotron-head.container Schedule

.container#id
  h1.text-center.well
    span.glyphicon.glyphicon-calendar
    | &nbsp;Schedule
  h3 Coming soon!

include partials/footer.html