title SEEK Junior 2018

include partials/header.html
include partials/navbar.html

div
  h1.jumbotron &nbsp;
  h1.jumbotron-head.container SEEK Junior 2018
.container#details
  h1.primary Tournament Details

  .row
    .col-md-12
      table.table
        thead
          tr
            th Item
            th Description
        tbody
          tr
            td Team Size
            td 6 members
          tr
            td Tournament type
            td Open Inter-school(No age/grade categories)
          tr
            td Design Materials
            td Core component: Arduino board
          tr
            td Venue
            td University of Toronto(St George)&nbsp;&nbsp;&nbsp;Room: TBD
          tr
            td Registration Link
            td Coming soon!

.container#schedule
  h1.primary Schedule

  .row
    .col-sm-12.pb-2
      table.table
        thead
          tr
            th Event
            th Time
        tbody
          tr
            td Introductions
            td 0900 - 0915
          tr
            td Build!
            td 0915 - 1200
          tr
            td Working lunch
            td 1200 - 1300
          tr
            td Build!
            td 1300 - 1500
          tr
            td Science Fair
            td 1500 - 1530
          tr
            td Tournament
            td 1530 - 1630
          tr
            td Prizes!
            td 1630 - 1700

include partials/footer.html