doctype html 

// Include jQuery
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script.
  window.jQuery || document.write('<script src="./assets/js/jquery.min.js"><\\/script>')
script.
  $(function() {
  $('#header').load('header.html');
  $('#navbar').load('navbar.html');
  $('#footer').load('footer.html');
  });

title ABC TITLE 
// changem e

#header
#navbar

div
  h1.jumbotron &nbsp;
  h1.jumbotron-head.container Past Years

.container#id
  h1.text-center.well
    span.glyphicon.glyphicon-knight
    | &nbsp;Title 1
br
h1.text-center
  span.glyphicon.glyphicon-asterisk
br 
br

.container#id2
  h1.text-center.well
    span.glyphicon.glyphicon-pawn
    | &nbsp;Title 2
br
h1.text-center
  span.glyphicon.glyphicon-stop
br 
br

#footer